@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	height: 100vh;
	background-color: hsl(233, 47%, 7%);
	color: #fff;
	/* max-width: 375px; */
}

.container {
	max-width: 375px;
	border-radius: 9px;
	background-color: hsl(244, 38%, 16%);
	text-align: center;
}

.img-container {
	background: hsl(277, 64%, 61%);
	border-radius: 9px 9px 0 0;
}
.image1 {
	width: 100%;
	border-radius: 9px 9px 0 0;
	opacity: 0.7;
	display: block;
}

.image2 {
	display: none;
}

.heading {
	margin: 35px 70px;
	font-weight: 700;
}

.emphasis {
	color: hsl(277, 64%, 61%);
}

.description {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	line-height: 25px;
}

.text {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 0.75);
}

p {
	margin: 0px;
	padding: 0px;
}

.stat-heading {
	margin: 10px;
}

.base {
	margin-bottom: 40px;
}

@media (min-width: 1025px) {
	.container {
		display: flex;
		flex-direction: row-reverse;
		max-width: 1025px;
		margin: 0;
		text-align: left;
	}
	.image1 {
		display: none;
	}
	.image2 {
		display: block;
	}
	.img-container {
		background: hsl(277, 64%, 61%);
		border-radius: 0px 9px 9px 0;
		width: 50%;
	}
	.image2 {
		width: 100%;
		border-radius: 0 9px 9px 0;
		opacity: 0.7;
		display: block;
	}
	.text-container {
		width: 50%;
	}

	.stats-container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.heading {
		margin: 0;
		padding: 80px 100px 10px 60px;
	}

	.description {
		margin: 0;
		padding: 10px 100px 60px 60px;
	}

	.stats-container {
		text-align: left;
		align-items: centers;
		padding: 0px 90px 0px 35px;
		/* padding: 50px 100px 10px 60px; */
	}

	.stat-heading {
		margin: 0;
	}
}
